
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.louisianafcu.org/hubfs/Blog_Subscriptions%20are%20a%20slippery%20slope-1.png" alt="" width="500" height="200">
    <h1 class="display-5 fw-bold">SubTrack!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Easily manage and track your subscriptions all in one place. With SubTrack you can keep track of how much you spend each month on your subscriptions, as well as when your next billing date will be so you can plan accordingly. Get started today! </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <a href="/newuser"><button type="button" class="btn btn-success btn-lg px-4 gap-3">Create Account</button></a>
        <a href="/login"><button type="button"  class="btn btn-dark btn-lg px-4">Log In</button></a>
      </div>
    </div>
  </div>
