
<form class="form login-form">
<div class="px-4 py-5 my-5 text-center justify-content-center">
    <img class="d-block mx-auto mb-4" src="https://www.louisianafcu.org/hubfs/Blog_Subscriptions%20are%20a%20slippery%20slope-1.png" alt="" width="500" height="200">
   <h2 class= "mb-3">Log In</h2>
    <div class="input-group justify-content-center mb-3">
  <input type="text" id= "email-login" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
</div>

<div class="input-group justify-content-center mb-3">
  <input id ="password-login" type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
</div>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    
       <a href="/newuser"><button type="button" class="btn btn-success btn-lg px-4 gap-3">Create Account</button></a>
        <a href="/login"><button type="submit" id= "login-btn"  class="btn btn-dark btn-lg px-4">Log In</button></a>
      </div>
    </div>
  </div>
</form>
  <script src="/js/login.js"></script>

