
<form id="newuser">
<div class="px-4 py-5 my-5 text-center justify-content-center">
    <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTO8cw4P2zuV8am7veOg0ENedwGb_4epZtarQ&usqp=CAU" alt="" width="500" height="200">
   <h2 class= "mb-3">Welcome Aboard!</h2>
   <p class="lead mb-4">Get started now by filling in the information below.</p>
    <div class="input-group justify-content-center mb-3">
  <input type="text" id= "email-login" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
</div>

<div class="input-group justify-content-center mb-3">
  <input id ="password-login" type="text" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="addon-wrapping">
</div>
<div class="input-group justify-content-center mb-3">
  <input id ="new-user-name" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
</div>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <a href="/newuser"><button type="submit" class="btn btn-success btn-lg px-4 gap-3">Create Account</button></a>
      </div>
    </div>
  </div>
</form>

<script src="./js/createAccount.js"></script>